<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>645457142181-i1q5d1j05c8h4d9d3ac812cgtbmqgkkl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.645457142181-i1q5d1j05c8h4d9d3ac812cgtbmqgkkl</string>
	<key>API_KEY</key>
	<string>AIzaSyB3dXLjo_Hm7eDH6UxNOhojjO0GBlKZTFo</string>
	<key>GCM_SENDER_ID</key>
	<string>645457142181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zoondia.it.digitalforest.prontolo</string>
	<key>PROJECT_ID</key>
	<string>prontoloapp</string>
	<key>STORAGE_BUCKET</key>
	<string>prontoloapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:645457142181:ios:e888b4f58d859117</string>
	<key>DATABASE_URL</key>
	<string>https://prontoloapp.firebaseio.com</string>
</dict>
</plist>